.landingTable {
  position: relative;
  width: 100%;
}

.landingTable * {
  margin: 0 auto;
}

table {
  width: 90%;
  text-align: left;
}
tr td {
  padding: 10px;
}
table,
td {
  border-bottom: 1px solid rgb(201, 201, 201);
  border-collapse: collapse;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  border-bottom: 2px solid rgb(201, 201, 201);
}
.landingTable button {
  background-color: rgb(255, 181, 96);
  border: 1px solid rgb(255, 136, 0);
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.landingTable button:hover {
  background-color: rgb(255, 154, 40);
}
h1 {
  margin-left: 3vw;
}

.questionContainer {
  margin: 2vh 5vw;
  padding-top: 1vh;
  background-color: #d8d8d8;
}

.buttonContainer {
  display: flex;
  margin-top: 2vh;
  width: 100%;
  justify-content: space-between;
  background-color: #44bbff;
  margin-right: 1vw;
}
.buttonContainer button {
  margin: 2vh 1.2vw;
  padding: 0.5vw 1.2vw;
  font-size: 1em;
  border: none;
  background-color: #d1eeff;
}
.qnBody {
  margin-left: 2vw;
}
.finishComp {
  height: 90vh;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}
